.seeker {
  // 求職者管理_求職者一覧ページのcss
  &-list {
    &-content {
      &-register {
        &__inner {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
        &__btn {
          width: 122px;
          border: 1px solid #3A87FD;
          border-radius: 5px;
          color: #3A87FD;
          cursor: pointer;
          font-size: 0.75rem;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 12px 16px;
        }
        &__filter__icon {
          position: relative;
          padding-right: 20px;
          &::after {
            content: "";
            width: 8px;
            height: 8px;
            border-bottom: solid 1.5px #272727;
            border-right: solid 1.5px #272727;
            transform: rotate(45deg);
            position: absolute;
            top: 50%;
            right: 5px;
            transform: translateY(-50%) rotate(45deg);
          }
        }
      }
      &-filter {
        &__inner {
          display: none;
        }
        &__block {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          background-color: rgba(0, 0, 0, 0.4);
          display: flex;
          align-items: center;
          justify-content: center;
          z-index: 1;
        }
        background-color: #fff;
        border-radius: 10px;
        padding: 64px 40px 48px 40px;
        position: relative;
        &__close {
          position: absolute;
          top: 15px;
          right: 15px;
          cursor: pointer;
        }
        &__create,
        &__ca,
        &__gender,
        &__school,
        &__phase,
        &__type,
        &__assumption,
        &__interview,
        &__setting,
        &__apply,
        &__selection,
        &__finalSelection,
        &__offer,
        &__labels {
          display: flex;
          align-items: center;
          padding-top: 24px;
          &__label {
            width: 120px;
            font-size: 0.75rem;
          }
          &__input {
            width: 100%;
            font-size: 0.75rem;
            input {
              appearance: auto;
              pointer-events: auto;
            }
          }
        }
        &__create,
        &__assumption,
        &__interview,
        &__setting,
        &__apply,
        &__selection,
        &__finalSelection,
        &__offer {
          &__input {
            display: flex;
            justify-content: space-between;
            align-items: center;
            input {
              width: 200px;
              padding: 15px;
              border: 1px solid #A0A0A0;
              border-radius: 5px;
            }
            span {
              display: block;
              margin: 0 15px;
            }
          }
        }
        &__ca,
        &__school {
          &__input {
            position: relative;
            &::after {
              content: ''; /* 疑似要素の内容 */
              width: 10px;
              height: 10px;
              border-bottom: solid 1.5px #A0A0A0;
              border-right: solid 1.5px #A0A0A0;
              transform: rotate(45deg);
              position: absolute;
              top: 50%; /* 垂直中央 */
              right: 15px; /* 矢印を右端に配置 */
              transform: translateY(-50%) rotate(45deg); /* 矢印を中央揃えしつつ回転 */
            }
            select {
              width: 100%;
              border: 1px solid #A0A0A0;
              border-radius: 5px;
              padding: 15px;
              color: #A0A0A0;
              font-size: 0.75rem;
            }
          }
        }
        &__gender,
        &__type {
          &__input {
            width: 100%;
            display: flex;
            &__radio {
              display: flex;
              align-items: center;
              &:last-child {
                margin-left: 24px;
              }
              input {
                width: 15px;
                height: 15px;
                border: 1px solid #A0A0A0;
                border-radius: 50%;
              }
              span {
                display: block;
                margin-left: 10px;
              }
            }
          }
        }
        &__phase {
          &__input {
            display: flex;
            align-items: center;
            justify-content: space-between;
            &__checkbox {
              display: flex;
              align-items: center;
              padding-left: 16px;
              &:first-child {
                padding-left: 0;
              }
              input {
                width: 15px;
                height: 15px;
                border: 1px solid #A0A0A0;
                border-radius: 5px;
              }
              span {
                display: block;
                margin-left: 7px;
              }
            }
          }
        }
        &__labels {
          &__selected__options {
            width: 100%;
            border: 1px solid #A0A0A0;
            border-radius: 5px;
            padding: 4px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 4px;
            position: relative;
            padding: 15px;
            &::after {
              content: "";
              width: 10px;
              height: 10px;
              border-bottom: solid 1.5px #A0A0A0;
              border-right: solid 1.5px #A0A0A0;
              transform: rotate(45deg);
              position: absolute;
              top: 50%;
              right: 15px;
              transform: translateY(-50%) rotate(45deg);
            }
            .option {
              background-color: #E6E6E6;
              border: 1px solid #dcdcdc;
              border-radius: 4px;
              padding: 4px 8px;
              display: flex;
              align-items: center;
              gap: 4px;
              color: #5D5B5B;
              font-size: 10px;
              white-space: nowrap;
              .remove {
                color: #999;
                cursor: pointer;

                font-weight: bold;
              }
            }
          }
          select {
            display: none;
          }
        }
        &__btn {
          width: 400px;
          display: flex;
          justify-content: center;
          gap: 32px;
          margin: 0 auto;
          padding-top: 80px;
          &__cancel,
          &__apply {
            width: 160px;
            height: 40px;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          &__cancel {
            border: 1px solid #A0A0A0;
          }
          &__apply {
            background-color: #3A87FD;
            color: #fff;
          }
        }
      }
      &-apply {
        &__inner {
          display: flex;
          align-items: center;
          padding-top: 24px;
        }
        &__heading {
          color: #A0A0A0;
          font-size: 0.75rem;
        }
        &__block {
          max-width: 900px;
          font-size: 0.625rem;
          overflow-x: scroll;
          white-space: nowrap;
          scrollbar-width: none; /* Firefox */
          -ms-overflow-style: none; /* Internet Explorer */
          &::-webkit-scrollbar {
            display: none; /* WebKitベースのブラウザ */
          }
        }
        &__box {
          display: inline-block;
          background-color: #E6E6E6;
          border-radius: 9999px;
          padding: 6px 16px;
          margin-left: 8px;
        }
      }
      &-table {
        width: 100%;
        &__inner {
          overflow-y: scroll;
          height: 680px;
          margin-top: 24px;
        }
        &__thead {
          position: sticky;
          top: 0;
          &.onFilter {
            position: static;
          }
        }
        &__tr {
          border-radius: 0 10px 0 0;
        }
        &__th {
          background-color: #3A87FD;
          border-right: 0.5px solid #A0A0A0;
          color: #fff;
          font-size: 0.75rem;
          font-weight: 500;
          padding-left: 15px;
          vertical-align: middle;
          height: 35px;
          &:first-child {
            border-radius: 10px 0 0 0;
            width: 160px;
          }
          &:nth-child(2),
          &:nth-child(3) {
            width: 160px;
          }
          &:nth-child(4),
          &:nth-child(5) {
            width: 80px;
          }
          &:last-child {
            border-radius: 0 10px 0 0;
            border-right: 0;
          }
        }
        &__td {
          border: 0.5px solid #A0A0A0;
          color: #272727;
          font-size: 0.75rem;
          padding: 16px;
          a {
            color: #3A87FD;
          }
          &__comment {
            p {
              width: 520px;
              overflow-x: scroll;
              white-space: nowrap;
              scrollbar-width: none; /* Firefox */
              -ms-overflow-style: none; /* Internet Explorer */
              &::-webkit-scrollbar {
                display: none; /* WebKitベースのブラウザ */
              }
            }
          }
        }
      }
      &-pageList {
        padding: 0 10px;
        &:first-child {
          padding-right: 20px;
          padding-left: 0;
        }
        &:last-child {
          padding-left: 20px;
        }
        &__inner {
          display: flex;
          align-items: center;
          padding-top: 24px;
        }
        &__link {
          color: #A5A5A5;
          font-family: "Jost", sans-serif;
        }
        &__prev__link,
        &__next__link {
          font-size: 0.75rem;
        }
      }
    }
  }
  // 求職者管理_求職者登録ページのcss
  &-register {
    &__inner {
      display: flex;
      gap: 16px;
      background: none;
      padding: 0;
    }
    &__block {
      width: 1800px;
      //width: 100%;
      background-color: #fff;
      padding: 24px;
    }
    &__title__inner {
      display: flex;
      align-items: end;
      gap: 24px;
    }
    &-content {
      &__link {
        &__inner {
          display: flex;
          gap: 24px;
          justify-content: space-between;
          align-items: center;
        }
        &__btn {
          width: 100%;
          height: 30px;
          border: 1px solid #272727;
          border-radius: 5px;
          display: flex;
          gap: 10px;
          padding-left: 24px;
          align-items: center;
          font-size: 0.75rem;
          &:hover {
            opacity: 0.65;
            transition: 0.3s;
          }
        }
      }
      &-form {
        &__inner {
          padding-top: 48px;
        }
        &__name,
        &__furigana,
        &__date,
        &__gender,
        &__charge,
        &__email,
        &__phoneNumber,
        &__academic,
        &__faculty,
        &__graduation,
        &__literatureScience,
        &__status,
        &__notEstablished,
        &__schedule,
        &__info,
        &__comment,
        &__upload {
          display: flex;
          align-items: center;
          padding-top: 40px;
          &__label {
            width: 120px;
            font-size: 0.75rem;
          }
          &__input {
            width: 100%;
          }
          input,
          select,
          textarea {
            appearance: auto;
            border: 1px solid #A0A0A0;
            border-radius: 5px;
            padding: 15px;
          }
          select {
            appearance: none;
            color: #A0A0A0;
          }
        }
        &__name,
        &__furigana {
          &__input {
            display: flex;
            gap: 24px;
            input {
              width: 100%;
            }
          }
        }
        &__date {
          &__input {
            display: flex;
            gap: 10px;
            align-items: center;
            &__select {
              position: relative;
              &::after {
                content: "";
                width: 8px;
                height: 8px;
                border-bottom: solid 1.5px #A0A0A0;
                border-right: solid 1.5px #A0A0A0;
                transform: rotate(45deg);
                position: absolute;
                top: 45%;
                right: 35px;
                transform: translateY(-50%) rotate(45deg);
              }
              select {
                width: 105px;
              }
              span {
                display: inline-block;
                margin-left: 10px;
              }
            }
          }
        }
        &__gender {
          &__input {
            display: flex;
            align-items: center;
            &__radio {
              display: flex;
              gap: 10px;
              width: 130px;
            }
          }
        }
        &__charge,
        &__graduation,
        &__literatureScience,
        &__status,
        &__notEstablished {
          &__input {
            position: relative;
            &::after {
              content: "";
              width: 8px;
              height: 8px;
              border-bottom: solid 1.5px #A0A0A0;
              border-right: solid 1.5px #A0A0A0;
              transform: rotate(45deg);
              position: absolute;
              top: 45%;
              right: 15px;
              transform: translateY(-50%) rotate(45deg);
            }
            select {
              width: 100%;
            }
          }
        }
        &__email {
          &__input {
            input {
              width: 100%;
            }
          }
        }
        &__phoneNumber {
          &__input {
            display: flex;
            gap: 16px;
            input {
              width: 100%;
            }
          }
        }
        &__academic {
          &__label {
            label {
              display: block;
              margin-bottom: 4px;
            }
            span {
              color: #A0A0A0;
              font-size: 10px;
              font-weight: bold;
            }
          }
          &__input {
            display: flex;
            gap: 24px;
            &__select {
              width: 100%;
              position: relative;
              &::after {
                content: "";
                width: 8px;
                height: 8px;
                border-bottom: solid 1.5px #A0A0A0;
                border-right: solid 1.5px #A0A0A0;
                transform: rotate(45deg);
                position: absolute;
                top: 45%;
                right: 15px;
                transform: translateY(-50%) rotate(45deg);
              }
              select {
                width: 100%;
              }
            }
            input {
              width: 100%;
            }
          }
        }
        &__faculty,
        &__schedule {
          &__input {
            display: flex;
            gap: 24px;
            &__box {
              width: 100%;
              input {
                width: 100%;
              }
              span {
                display: block;
                position: absolute;
                color: #A0A0A0;
                font-size: 0.75rem;
                margin-top: 8px;
              }
            }
          }
        }
        &__info,
        &__comment {
          align-items: flex-start;
          &__input {
            textarea {
              width: 100%;
              height: 223px;
            }
          }
        }
        &__info {
          padding-top: 60px;
        }
        &__upload {
          align-items: flex-start;
          &__body {
            width: 100%;
            &__resume,
            &__history {
              text-align: center;
              &__inner {
                span {
                  color: #A0A0A0;
                  font-size: 0.75rem;
                  display: block;
                  margin-top: 12px;
                }
              }
              &__flex {
                width: 100%;
                padding: 78px 100px 94px 100px;
                border: 1px dotted #A0A0A0;
                border-radius: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
              }
              &__text {
                color: #A0A0A0;
                font-size: 15px;
                font-weight: 400;
                letter-spacing: 1px;
                line-height: 27.75px;
              }
              &__input {
                padding-top: 16px;
                &__btn {
                  background-color: #8F8F8F;
                  color: #fff;
                  display: block;
                  font-size: 0.75rem;
                  padding: 8px 20px;
                  width: 276px;
                  margin: 0 auto;
                }
                input {
                  display: none;
                }
              }
              &__supplyment {
                color: #A0A0A0;
                font-size: 0.75rem;
                padding-top: 26px;
              }
            }
            &__history {
              &__inner {
                padding-top: 32px;
              }
            }
          }
        }
        &__midCareer {
          display: none;
          &__inner {
            padding-top: 78px;
          }
          &__title__inner {
            display: flex;
            gap: 10px;
            align-items: center;
            border-bottom: 1px solid #A0A0A0;
            padding-bottom: 24px;
            span {
              font-size: 14px;
            }
            h3 {
              font-size: 18.75px;
            }
          }
          &__jobChange,
          &__company,
          &__occupation,
          &__income {
            display: flex;
            align-items: center;
            padding-top: 40px;
            &__label {
              width: 120px;
              font-size: 0.75rem;
            }
            &__input {
              width: 100%;
              input,
              select {
                appearance: auto;
                border: 1px solid #A0A0A0;
                border-radius: 5px;
                padding: 15px;
              }
              select {
                appearance: none;
                color: #A0A0A0;
              }
            }
          }
          &__jobChange {
            &__input {
              position: relative;
              &::after {
                content: "";
                width: 8px;
                height: 8px;
                border-bottom: solid 1.5px #A0A0A0;
                border-right: solid 1.5px #A0A0A0;
                transform: rotate(45deg);
                position: absolute;
                top: 45%;
                left: 200px;
                transform: translateY(-50%) rotate(45deg);
              }
              select {
                width: 225px;
              }
              span {
                display: inline-block;
                margin-left: 10px;
              }
            }
          }
          &__company {
            &__input {
              input {
                width: 225px;
              }
              span {
                display: inline-block;
                margin-left: 10px;
              }
            }
          }
          &__occupation {
            &__input {
              display: flex;
              gap: 16px;
              &__box {
                width: 100%;
                position: relative;
                &::after {
                  content: "";
                  width: 10px;
                  height: 10px;
                  border-bottom: solid 1.5px #A0A0A0;
                  border-right: solid 1.5px #A0A0A0;
                  transform: rotate(45deg);
                  position: absolute;
                  top: 45%;
                  right: 20px;
                  transform: translateY(-50%) rotate(45deg);
                }
                span {
                  display: block;
                  position: absolute;
                  color: #A0A0A0;
                  font-size: 0.75rem;
                  margin-top: 12px;
                }
                select {
                  width: 100%;
                }
              }
            }
          }
          &__income {
            padding-top: 60px;
            &__input {
              display: flex;
              gap: 8px;
              &__box {
                width: 100%;
                input {
                  width: 87%;
                  margin-right: 8px;
                }
                span {
                  display: block;
                  position: absolute;
                  color: #A0A0A0;
                  font-size: 0.75rem;
                  margin-top: 12px;
                  &:first-child {
                    display: inline;
                  }
                }
              }
            }
          }
        }
        &__submit {
          max-width: 165px;
          background-color: #3A87FD;
          border-radius: 5px;
          color: #fff;
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 0 auto;
          margin-top: 140px;
          padding: 15px 0;
          &:hover {
            opacity: 0.8;
            transition: 0.3s;
          }
        }
      }
    }
    //サイドバーのcss
    &-sidebar {
      &__inner {
        width: 70%;
      }
      &-selection {
        background-color: #fff;
        border-radius: 10px;
        padding: 24px;
        &__title__inner {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
        &__view {
          &__inner {
            display: flex;
            align-items: center;
          }
          span {
            font-size: 0.625rem;
          }
          &__arrow {
            background-color: #E6E6E6;
            border-radius: 30px;
            padding: 8px 10px;
            margin-left: 6px;
            position: relative;
            &::after {
              content: '';
              display: block;
              position: absolute;
              right: 8px;
              top: 5px;
              width: 5px;
              height: 5px;
              border-top: #000 0.5px solid;
              border-right: #000 0.5px solid;
              transform: rotate(45deg);
              margin: auto;
            }
          }
        }
        &__box {
          border: 1.5px solid #3A87FD;
          border-radius: 10px;
          padding: 16px 8px;
          width: 87px;
          &__inner {
            display: flex;
            gap: 8px;
            justify-content: space-between;
            padding-top: 48px;
          }
          &__text {
            font-size: 0.625rem;
            text-align: center;
          }
          &__people {
            padding-top: 8px;
            text-align: center;
            &__number {
              font-size: 23px;
              font-family: "Jost", sans-serif;
            }
            &__unit {
              font-size: 0.625rem;
            }
          }
        }
        &__list {
          border-bottom: 0.5px solid #A0A0A0;
          padding: 24px 0;
          &:first-child {
            padding-top: 0;
          }
          &__inner {
            padding-top: 32px;
            &__nothing {
              display: flex;
              align-items: center;
              justify-content: center;
              height: 310px;
              p {
                color: #A0A0A0;
                font-size: 0.75rem;
              }
            }
          }
          &__status {
            span {
              font-size: 0.75rem;
            }
          }
          &__company {
            padding-top: 8px;
          }
        }
      }
      &-log {
        background-color: #fff;
        border-radius: 10px;
        margin-top: 16px;
        padding: 24px;
        &__title__inner {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 6px;
        }
        &__add__inner {
          display: flex;
          gap: 6px;
          align-items: center;
          cursor: pointer;
          span {
            color: #3A87FD;
            font-size: 0.625rem;
          }
        }
        &__list {
          padding-top: 48px;
          &__label__1 {
            width: 120px;
          }
          &__label__2 {
            width: 120px;
          }
          &__label__3 {
            width: 120px;
          }
          &__thead {
            border-bottom: 0.5px solid #A0A0A0;
            display: flex;
            align-items: center;
            font-size: 0.75rem;
            padding: 24px 0;
            padding-top: 0;
          }
          &__item {
            border-bottom: 0.5px solid #A0A0A0;
            padding: 24px 0;
            cursor: pointer;
            &__nothing {
              display: flex;
              align-items: center;
              justify-content: center;
              height: 720px;
              p {
                color: #A0A0A0;
                font-size: 0.75rem;
              }
            }
            &__flex {
              display: flex;
              align-items: center;
            }
            &__name {
              padding-left: 15px;
              position: relative;
              &::before {
                content: '';
                width: 6px;
                height: 6px;
                border: 0;
                border-top: solid 1.5px #333;
                border-right: solid 1.5px #333;
                transform: rotate(45deg);
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                margin: auto;
              }
              &.open::before {
                transform: translateY(-50%) rotate(135deg);
              }
            }
            &__edit {
              position: relative;
              z-index: 1;
            }
            &__memo {
              display: none;
              font-weight: 400;
              line-height: 27.75px;
              margin-top: 10px;
            }
          }
        }
        &__edit,
        &__add {
          display: none;
          &__block {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            background-color: rgba(0, 0, 0, 0.4);
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 1;
          }
          &__content {
            background-color: #fff;
            border-radius: 10px;
            padding: 64px 40px 48px 40px;
            position: relative;
            &__close {
              position: absolute;
              top: 15px;
              right: 15px;
              cursor: pointer;
            }
            &__charge,
            &__interview,
            &__type,
            &__memo {
              display: flex;
              align-items: center;
              padding-top: 32px;
              &__label {
                width: 120px;
                font-size: 0.75rem;
              }
              &__input {
                width: 100%;
                position: relative;
                select {
                  border: 1px solid #A0A0A0;
                  border-radius: 5px;
                  padding: 15px;
                  color: #A0A0A0;
                  font-size: 0.75rem;
                }
                input {
                  appearance: auto;
                }
              }
            }
            &__charge {
              &__input {
                &::after {
                  content: "";
                  width: 10px;
                  height: 10px;
                  border-bottom: solid 1.5px #A0A0A0;
                  border-right: solid 1.5px #A0A0A0;
                  transform: rotate(45deg);
                  position: absolute;
                  top: 50%;
                  right: 40px;
                  transform: translateY(-50%) rotate(45deg);
                }
                select {
                  width: 430px;
                }
              }   
            }
            &__type {
              &__input {
                display: flex;
                align-items: center;
                &__box {
                  padding-left: 32px;
                  &:first-child {
                    padding-left: 0;
                  }
                  span {
                    display: inline-block;
                    margin-left: 10px;
                  }
                }
              }
            }
            &__interview {
              &__input {
                display: flex;
                align-items: center;
                &__box {
                  width: 100%;
                  display: flex;
                  align-items: center;
                  select {
                    width: 70%;
                  }
                  span {
                    display: inline-block;
                    margin-left: 8px;
                  }
                }
              }
            }
            &__memo {
              &__input {
                textarea {
                  width: 100%;
                  height: 223px;
                  border: 1px solid #A0A0A0;
                  border-radius: 5px;
                  padding: 15px;
                }
              }
            }
            &__btn {
              width: 100%;
              display: flex;
              justify-content: center;
              gap: 32px;
              padding-top: 80px;
              &__cancel,
              &__submit {
                width: 160px;
                height: 40px;
                border-radius: 5px;
                display: flex;
                align-items: center;
                justify-content: center;
              }
              &__cancel {
                border: 1px solid #A0A0A0;
              }
              &__submit {
                background-color: #3A87FD;
                color: #fff;
              }
            }
          }
        }
      }
    }
  }
  // 求職者管理_求職者基本情報ページのcss
  &-info {
    &__inner {
      display: flex;
      gap: 16px;
      background: none;
      padding: 0;
    }
    &__block {
      width: 1800px;
      //width: 100%;
      background-color: #fff;
      padding: 24px;
      padding-bottom: 48px;
    }
    &__title__inner {
      display: flex;
      align-items: end;
      gap: 24px;
    }
    &-content {
      &__name,
      &__furigana,
      &__charge,
      &__date,
      &__gender,
      &__email,
      &__phoneNumber,
      &__university,
      &__status,
      &__notEstablished,
      &__assumption,
      &__interview,
      &__schedule,
      &__info,
      &__comment,
      &__graduation,
      &__literatureScience,
      &__faculty {
        border-bottom: 0.5px solid #A5A5A5;
        display: flex;
        align-items: flex-start;
        padding: 40px 0;
        &__label {
          width: 120px;
          font-size: 0.75rem;
        }
        &__output {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          &__edit {
            cursor: pointer;
          }
        }
      }
      &__name,
      &__furigana {
        &__output {
          &__value {
            display: flex;
            gap: 10px;
          }
        }
      }
      &__date {
        &__output {
          &__value {
            span {
              &:first-child {
                display: inline-block;
                margin-right: 10px;
              }
            }
          }
        }
      }
      &__info,
      &__comment {
        &__output {
          align-items: flex-end;
          &__value {
            width: 80%;
            span {
              line-height: 27.75px;
            }
          }
        }
      }
      &__midCareer {
        &__inner {
          padding-top: 78px;
        }
        &__title__inner {
          border-bottom: 1px solid #A0A0A0;
          padding-bottom: 20px;
        }
        &__jobChange,
        &__company,
        &__occupation,
        &__income {
          border-bottom: 0.5px solid #A5A5A5;
          display: flex;
          align-items: center;
          padding: 30px 0;
          &__label {
            width: 120px;
            font-size: 0.75rem;
          }
          &__output {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
          }
        }
      }
    }
  }
  // 基本情報入力ページのcss
  &-form {
    &-header {
      &__inner {
        width: 100%;
        height: 80px;
        background-image: linear-gradient(to right, #5433FF, #20BDFF, #A5FECB);
        display: flex;
        align-items: center;
        padding-left: 40px;
      }
    }
    &__main {
      background-color: #F3F6FF;
      display: flex;
      justify-content: center;
      &__complete {
        height: 100vh;
      }
      &__inner {
        padding: 96px 0;
      }
    }
    &-content {
      &__inner {
        background-color: #fff;
        width: 800px;
        padding: 64px 40px;
      }
      &__title__inner {
        text-align: center;
      }
      &-complete {
        &__inner {
          padding-top: 40px;
        }
        &__title__inner {
          padding-top: 40px;
          text-align: center;
          letter-spacing: 1px;
        }
      }
      &__round {
        width: 80px;
        height: 80px;
        border: #A0A0A0;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        &__form,
        &__confirm ,
        &__complete {
          background-color: #3A87FD;
          border: 0;
          color: #fff;
        }
        &__inner {
          display: flex;
          gap: 16px;
          justify-content: center;
          align-items: center;
          padding-top: 40px;
          text-align: center;
          span {
            position: relative;
            display: inline-block;
            &::after {
              content: '';
              width: 0;
              height: 0;
              border-style: solid;
              border-width: 6px 0 6px 8px;
              border-color: transparent transparent transparent #A5A5A5;
              position: absolute;
              top: 0;
              left: 0;
              bottom: 0;
              margin: auto;
            }
          }
        }
      }
      &__text {
        padding-top: 32px;
        font-size: 0.75rem;
        line-height: 19.8px;
        text-align: center;
      }
      &-form {
        &__inner {
          padding-top: 80px;
        }
        &__name,
        &__furigana,
        &__date,
        &__gender,
        &__charge,
        &__email,
        &__phoneNumber,
        &__address,
        &__graduation,
        &__literatureScience,
        &__school,
        &__jobChange,
        &__company,
        &__occupation,
        &__industry,
        &__income {
          display: flex;
          align-items: center;
          padding-top: 40px;
          &__label {
            width: 140px;
            font-size: 0.75rem;
          }
          &__input {
            width: 100%;
            font-size: 0.75rem;
            position: relative;
          }
          input,
          select,
          textarea {
            appearance: auto;
            background-color: #F5F5F5;
            border-radius: 4px;
            padding: 15px;
          }
          select {
            appearance: none;
            color: #A0A0A0;
          }
        }
        &__name,
        &__furigana,
        &__email,
        &__phoneNumber {
          &__input {
            input {
              width: 100%;
            }
          }
        }
        &__charge,
        &__literatureScience,
        &__occupation,
        &__industry {
          &__input {
            &::after {
              content: "";
              width: 8px;
              height: 8px;
              border-bottom: solid 1.5px #A0A0A0;
              border-right: solid 1.5px #A0A0A0;
              transform: rotate(45deg);
              position: absolute;
              top: 45%;
              right: 390px;
              transform: translateY(-50%) rotate(45deg);
            }
            select {
              width: 240px;
            }
          }
        }
        &__date {
          &__input {
            display: flex;
            align-items: center;
            justify-content: space-around;
            &__box {
              position: relative;
              &::after {
                content: "";
                width: 8px;
                height: 8px;
                border-bottom: solid 1.5px #A0A0A0;
                border-right: solid 1.5px #A0A0A0;
                transform: rotate(45deg);
                position: absolute;
                top: 45%;
                right: 35px;
                transform: translateY(-50%) rotate(45deg);
              }
              select,
              input {
                width: 80px;
              }
              &:first-child {
                select {
                  width: 120px;
                }
              }
              &:last-child {
                &::after {
                  display: none;
                }
              }
              span {
                display: inline-block;
                margin-left: 10px;
              }
              &__inner {
                display: flex;
                align-items: center;
                gap: 10px;
                width: 80%;
              }
            }
          }
        }
        &__gender {
          &__input {
            display: flex;
            align-items: center;
            &__radio {
              display: flex;
              gap: 10px;
              width: 80px;
            }
          }
        }
        &__address {
          align-items: flex-start;
          &__label {
            padding-top: 10px;
          }
          &__input {
            &__box {
              &:first-child {
                input {
                  width: 240px;
                }
              }
              &:last-child {
                padding-top: 16px;
                width: 100%;
                input {
                  width: 100%;
                }
              }
            }
          }
        }
        &__graduation {
          &__input {
            &::after {
              content: "";
              width: 8px;
              height: 8px;
              border-bottom: solid 1.5px #A0A0A0;
              border-right: solid 1.5px #A0A0A0;
              transform: rotate(45deg);
              position: absolute;
              top: 45%;
              right: 490px;
              transform: translateY(-50%) rotate(45deg);
            }
            select {
              width: 140px;
            }
            span {
              display: inline-block;
              margin-left: 10px;
            }
          }
        }
        &__school {
          align-items: flex-start;
          &__label {
            padding-top: 10px;
          }
          &__input {
            &__box {
              padding-top: 16px;
              &:first-child {
                padding-top: 0;
              }
              input {
                width: 100%;
              }
            }
          }
        }
        &__jobChange {
          align-items: flex-start;
          &__label {
            padding-top: 10px;
          }
          &__input {
            &__box {
              select {
                width: 80px;
              }
              &:first-child {
                select {
                  width: 120px;
                }
              }
              &__inner {
                display: flex;
                align-items: center;
                gap: 10px;
                &:last-child {
                  padding-top: 16px;
                }
              }
              span {
                display: inline-block;
                margin-left: 10px;
              }
            }
          }
        }
        &__company {
          &__input {
            input {
              width: 220px;
            }
            span {
              display: inline-block;
              margin-left: 8px;
            }
          }
        }
        &__income {
          &__input {
            span {
              display: inline-block;
              margin-right: 8px;
            }
            input {
              width: 220px;
            }
          }
        }
      }
      &__submit {
        margin: 0 auto;
        margin-top: 80px;
        width: 160px;
        padding: 15px 0;
        background-color: #3A87FD;
        border-radius: 5px;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
          opacity: 0.8;
          transition: 0.3s;
        }
      }
    }
    // 基本情報_確認画面ページのcss
    &-confirm {
      &__inner {
        padding-top: 80px;
      }
      &__name,
      &__furigana,
      &__date,
      &__gender,
      &__charge,
      &__email,
      &__phoneNumber,
      &__address,
      &__graduation,
      &__literatureScience,
      &__school,
      &__jobChange,
      &__company,
      &__occupation,
      &__industry,
      &__income {
        border-bottom: 0.5px solid #272727;
        display: flex;
        align-items: center;
        padding: 24px 0;
        &__label {
          width: 140px;
          font-size: 0.75rem;
        }
        &__input {
          font-size: 0.75rem;
        }
      }
      &__address {
        &__input {
          span {
            display: block;
            &:last-child {
              margin-top: 8px;
            }
          }
        }
      }
      &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 32px;
        padding-top: 80px;
        &__cancel,
        &__submit {
          width: 160px;
          height: 40px;
          border-radius: 5px;
          display: flex;
          justify-content: center;
          align-items: center;
          &:hover {
            opacity: 0.8;
            transition: 0.3s;
          }
        }
        &__cancel {
          border: 1px solid #A0A0A0;
        }
        &__submit {
          background-color: #3A87FD;
          color: #fff;
        }
      }
    }
  }
}