.home {
  &-search {
    &__inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &-box {
      display: flex;
      align-items: center;
      width: 100%;
      &__search {
        position: relative;
        &::before {
          content: "";
          width: 14px;
          height: 14px;
          background: url(../images/search-icon.svg) no-repeat center center / auto 100%;
          display: inline-block;
          position: absolute;
          top: 13px;
          left: 10px;
        }
        input {
          width: 860px;
          height: 36px;
          background-color: #fff;
          border: 0.5px solid #A5A5A5;
          border-radius: 55px;
          appearance: auto;
          padding-left: 40px;
          &::placeholder {
            color: #A0A0A0;
            font-size: 0.75rem;
            font-weight: 500;
            letter-spacing: 1px;
            margin-left: 20px;
          }
        }
      }
      &__history,
      &__msg {
        width: 36px;
        height: 36px;
        background-color: #fff;
        border: 0.5px solid #A0A0A0;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 16px;
      }
      &__admin {
        width: 160px;
        height: auto;
        background-color: #2D69C4;
        border-radius: 20px;
        color: #fff;
        padding: 5px 20px;
        position: relative;
        &::after {
          content:"";
          position: absolute;
          display:block;
          width:8px;
          height:8px;
          border-top: #fff 2px solid;
          border-right: #fff 2px solid;
          -webkit-transform: rotate(135deg);
          -ms-transform: rotate(135deg);
          transform: rotate(135deg);
          position:absolute;
          right: 20px;
          top: 0;
          bottom: 15%;
          margin: auto;
        }
        &__title {
          font-size: 0.625rem;
          font-weight: 500;
          display: block;
        }
        &__name {
          font-size: 0.75rem;
          font-weight: 500;
          margin-top: 2px;
        }
        &__popup__inner {
          display: none;
          position: absolute;
          z-index: 1;
          right: 0;
          top: 50px;
          background-color: #F3F6FF;
          border-radius: 10px;
          box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1), inset 0px -1px 4px -2px rgba(0, 0, 0, 0.3);
          color: #272727;
          padding: 24px;
          text-align: center;
        }
        &__popup__content {
          &__info {
            &__title {
              font-size: 0.75rem;
            }
            &__name {
              font-size: 1.4375rem;
              margin-top: 8px;
            }
            &__email {
              font-size: 0.75rem;
              margin-top: 14px;
            }
          }
          &__btn {
            padding-top: 32px;
            text-align: justify;
          }
          &__account__btn {
            font-size: 0.75rem;
            padding-bottom: 12px;
            &__text {
              margin-left: 10px;
            }
          }
          &__logout__btn {
            font-size: 0.75rem;
            border-top: 1px solid;
            padding-top: 10px;
            &__text {
              margin-left: 10px;
            }
          }
        }
      }
    }
  }
  &-content {
    &__inner {
      padding-top: 20px;
    }
    &__flex {
      display: flex;
    }
    &-board {
      color: #fff;
      &__inner {
        max-width: 860px;
        width: 100%;
        background: linear-gradient(87.48deg, #5433FF -16.22%, #20BDFF 72.71%, #A5FECB 134.5%);
        border-radius: 10px;
        padding: 24px;
      }
      &__title__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        h2 {
          color: #fff;
          font-size: 1.1875rem;
          font-weight: 500;
        }
      }
      &__view__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        span {
          font-size: 0.75rem;
          color: #fff;
        }
      }
      &__view__arrow {
        background-color: #fff;
        border-radius: 30px;
        padding: 8px 10px;
        margin-left: 6px;
        position: relative;
        &::after {
          content:"";
          position: absolute;
          display:block;
          width:5px;
          height:5px;
          border-top: #000 0.5px solid;
          border-right: #000 0.5px solid;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
          position:absolute;
          right: 8px;
          top: 5px;
          margin: auto;
        }
      }
      &-card__inner {
        color: #fff;
        padding-top: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      &-card {
        border: 0.5px solid #fff;
        border-radius: 10px;
        padding: 25px 15px;
        margin-left: 16px;
        overflow-x: scroll;
        &:first-child {
          margin-left: 0;
        }
        &__text {
          font-weight: 400;
          white-space: nowrap;
        }
        &__time {
          color: #fff;
          font-size: 0.75rem;
          font-weight: 500;
          margin-top: 16px;
          display: block;
        }
      }
      &-google-calendar__inner {
        padding-top: 20px;
        iframe {
          width: 100%;
          border: 0!important;
        }
        img {
          width: 100%;
          height: auto;
        }
      }
    }
    &-sidebar {
      width: 30%;
      &__inner {
        padding-left: 20px;
      }
      &-new-recruit {
        &__inner {
          background-color: #fff;
          border-radius: 10px;
          padding: 24px;
        }
        &__title__inner {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
        &__view__inner {
          display: flex;
          align-items: center;
          justify-content: space-between;
          span {
            font-size: 0.75rem;
          }
        }
        &__view__arrow {
          background-color: #E6E6E6;
          border-radius: 30px;
          padding: 8px 10px;
          margin-left: 6px;
          position: relative;
          &::after {
            content:"";
            position: absolute;
            display:block;
            width:5px;
            height:5px;
            border-top: #000 0.5px solid;
            border-right: #000 0.5px solid;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
            position:absolute;
            right: 8px;
            top: 5px;
            margin: auto;
          }
        }
        &__card {
          margin-top: 20px;
          border-top: 1px solid #A5A5A5;
          &:first-child {
            border-top: 0;
          }
          time {
            color: #A0A0A0;
            display: block;
            margin-top: 8px;
          }
          &__companyName {
            font-weight: 500;
            margin-top: 16px;
          }
          &__text {
            display: block;
            font-size: 0.75rem;
            margin-top: 10px;
          }
        }
      }
      &-schedule {
        &__inner {
          background-color: #fff;
          border-radius: 10px;
          margin-top: 16px;
          padding: 24px;
        }
        &__title__inner {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
        &__view__inner {
          display: flex;
          align-items: center;
          justify-content: space-between;
          span {
            font-size: 0.75rem;
          }
        }
        &__view__arrow {
          background-color: #E6E6E6;
          border-radius: 30px;
          padding: 8px 10px;
          margin-left: 6px;
          position: relative;
          &::after {
            content:"";
            position: absolute;
            display:block;
            width:5px;
            height:5px;
            border-top: #000 0.5px solid;
            border-right: #000 0.5px solid;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
            position:absolute;
            right: 8px;
            top: 5px;
            margin: auto;
          }
        }
        &__card__inner {
          padding-top: 30px;
        }
        &__card {
          border: 1.5px solid #3A87FD;
          border-radius: 10px;
          padding: 15px;
          padding-right: 40px;
          margin-top: 15px;
          &::after {
            margin-top: 0;
          }
          &__event__name {
            font-weight: 500;
          }
          &__event__calendar,
          &__event__place,
          &__event__occupation {
            position: relative;
            display: flex;
            font-size: 0.75rem;
            margin-top: 10px;
            span {
              margin-left: 6px;
            }
          }
        }
      }
    }
  }
  /* アカウント管理ページ共通のcss */
  &-account-manage {
    &__inner {
      padding-top: 46px;
    }
    &__block {
      background-color: #fff;
      height: 100vh;
      border-radius: 10px;
      padding: 24px;
    }
    &__heading__inner {
      padding-bottom: 20px;
    }
    /* アカウント管理ページ()管理者のcss */
    &-admin,
    &-general-info {
      &__inner {
        border-top: 1px solid;
        padding-top: 20px;
      }
      &__table {
        margin-top: 40px;
      }
      &__th,
      &__td {
        padding-top: 30px;
        &__name {
          padding-top: 0;
        }
      }
      &__th {
        width: 160px;
        font-size: 0.75rem;
      }
      &__td {
        font-family: "Jost", sans-serif;
        font-size: 1.1875rem;
        letter-spacing: 0.5px;
      }
    }
    /* アカウント管理ページ(一般)のcss */
    &-general-company {
      &__inner {
        padding-top: 60px;
      }
      &__table {
        border-top: 1px solid #A0A0A0;
        display: block;
        margin-top: 20px;
        padding-top: 40px;
      }
      &__th,
      &__td {
        padding-top: 30px;
        &__name {
          padding-top: 0;
        }
      }
      &__th {
        width: 160px;
        font-size: 0.75rem;
      }
      &__td {
        font-family: "Jost", sans-serif;
        letter-spacing: 0.5px;
      }
    }
  }
  /* メッセージ一覧ページのcss */
  &-msg-list {
    &__inner {
      padding-top: 46px;
    }
    &__block {
      background-color: #fff;
      height: 100vh;
      border-radius: 10px;
      padding: 24px;
    }
    &__heading__inner {
      padding-bottom: 20px;
    }
    &-top {
      &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 40px;
      }
      &__tab {
        color: #A0A0A0;
        font-size: 0.75rem;
        padding: 0 20px 10px 20px;
        margin-left: 40px;
        cursor: pointer;
        &:first-child {
          margin-left: 0;
        }
        &.active {
          border-bottom: 2px solid #3A87FD;
          color: #272727;
        }
        &__unread {
          position: relative;
          &::after {
            content: '';
            position: absolute;
            top: 0;
            right: 5px;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background-color: #3A87FD;
          }
        }
        &__inner {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
      }
      &__search__inner {
        position: relative;
        &::before {
          content: "";
          width: 13px;
          height: 13px;
          background: url(../images/search-icon.svg) no-repeat center center / auto 100%;
          display: inline-block;
          position: absolute;
          top: 14px;
          left: 10px;
        }
        input {
          width: 370px;
          height: 40px;
          background-color: #fff;
          border: 0.5px solid #A5A5A5;
          border-radius: 55px;      
          appearance: auto;
          color: #A0A0A0;
          font-size: 0.75rem;
          padding-left: 40px;
        }
      }
    }
    &-pageList {
      padding: 0 10px;
      &:first-child {
        padding-right: 20px;
        padding-left: 0;
      }
      &:last-child {
        padding-left: 20px;
      }
      &__inner {
        display: flex;
        align-items: center;
        padding-top: 24px;
      }
      &__link {
        color: #A5A5A5;
        font-family: "Jost", sans-serif;
      }
      &__prev__link,
      &__next__link {
        font-size: 0.75rem;
      }
    }
    &-msg {
      margin-top: 40px;
      overflow-y: scroll;
      height: 65vh;
      &__content {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #A0A0A0;
        padding: 24px 0;
        &:first-child {
          padding-top: 0;
        }
        &__date {
          color: #A0A0A0;
          font-size: 0.75rem;
          font-family: "Jost", sans-serif;
        }
        &__body {
          overflow-x: scroll;
          white-space: nowrap;
          margin: 0 24px;
          &__address {
            display: flex;
            align-items: center;
            font-size: 0.75rem;
            padding-top: 16px;
            &__to {
              padding-left: 20px;
            }
            span {
              color: #A0A0A0;
              font-family: "Jost", sans-serif;
              margin-right: 8px;
            }
          }
        }
      }
    }
  }
  /* 説明会日程一覧ページのcss */
  &-session-schedule {
    &__inner {
      padding-top: 40px;
    }
    &__block {
      background-color: #fff;
      border-radius: 10px;
      padding: 24px;
    }
    &__card__inner {
      display: grid;
      row-gap: 20px;
      column-gap: 20px;
      grid-template-columns: repeat(2, 1fr);
      padding-top: 40px;
    }
    &__card {
      border: 1.5px solid #3A87FD;
      border-radius: 6px;
      padding: 24px;
      &__title {
        h3 {
          margin-top: 8px;
        }
      }
      &__content {
        display: flex;
        justify-content: space-between;
        padding-top: 30px;
        &__img {
          width: 100%;
          img {
            width: 100%;
            height: auto;
          }
        }
        &__body {
          width: 95%;
          padding-left: 16px;
          &__calendar,
          &__place,
          &__occupation {
            position: relative;
            display: flex;
            font-size: 0.75rem;
            margin-top: 10px;
            span {
              margin-left: 6px;
            }
          }
          &__text {
            font-size: 0.75rem;
            letter-spacing: 0.5px;
            line-height: 22.2px;
            margin-top: 8px;
          }
          &__btn {
            width: 120px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #3A87FD;
            border-radius: 5px;
            color: #fff;
            font-size: 0.625rem;
            margin-top: 16px;
            margin-left: auto;
          }
        }
      }
    }
  }
  /* 新着求人案内ページのcss */
  &-new-job-info {
    &__inner {
      padding-top: 40px;
    }
    &__block {
      background-color: #fff;
      border-radius: 10px;
      padding: 24px;
    }
    &__card__inner {
      display: grid;
      row-gap: 20px;
      column-gap: 20px;
      grid-template-columns: repeat(2, 1fr);
      padding-top: 40px;
    }
    &__card {
      border: 1.5px solid #3A87FD;
      border-radius: 6px;
      padding: 24px;
      &__title {
        h3 {
          margin-top: 8px;
        }
        span {
          display: block;
          font-size: 0.75rem;
          margin-top: 16px;
        }
      }
      &__content {
        display: flex;
        justify-content: space-between;
        padding-top: 30px;
        &__img {
          width: 100%;
          img {
            width: 100%;
            height: auto;
          }
        }
        &__body {
          width: 95%;
          padding-left: 16px;
          &__place,
          &__occupation {
            position: relative;
            display: flex;
            font-size: 0.75rem;
            margin-top: 10px;
            span {
              margin-left: 6px;
            }
          }
          &__text {
            font-size: 0.75rem;
            letter-spacing: 0.5px;
            line-height: 22.2px;
            margin-top: 8px;
          }
          &__btn {
            width: 120px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #3A87FD;
            border-radius: 5px;
            color: #fff;
            font-size: 0.625rem;
            margin-top: 16px;
            margin-left: auto;
          }
        }
      }
    }
  }
}
