body {
  color: #272727;
  font-size: 15px;
  font-family: 'Noto Sans JP', sans-serif;
}
.main {
  background-color: #F3F5FC;
  padding: 0 30px;
  width: 100%;
}
.wrapper {
  max-width: 2000px;
  margin: 0 auto;
  &-inner {
    display: flex;
  }
}
.sidebar-title {
  font-size: 1.25rem;
  font-weight: 500;
  letter-spacing: 0.5px;
}
time {
  font-size: 0.75rem;
  font-weight: 500;
}