body {
  color: #272727;
  font-size: 15px;
  font-family: 'Noto Sans JP', sans-serif;
  scrollbar-color: #e6e6e6 #e6e6e6;
}
.main {
  background-color: #F3F5FC;
  padding: 30px;
  width: 84%;
  margin-left: auto;
  @media(min-width: 2000px) {
    width: 88%;
  }

}
.wrapper {
  max-width: 2000px;
  margin: 0 auto;
  &-inner {
    display: flex;
  }
}
.home-title {
  font-size: 1.4375rem;
  letter-spacing: 1px;
}
.home-subTitle {
  font-size: 1.171875rem;
  letter-spacing: 1px;
  margin-top: 40px;
}
.sidebar-title {
  font-size: 1.25rem;
  font-weight: 500;
  letter-spacing: 0.5px;
}
time {
  color: #A0A0A0;
  font-size: 0.75rem;
  font-weight: 500;
  font-family: "Jost", sans-serif;
}


//ポップアップのcss
.popup {
  &-confirm {
    &-delete-inner {
      display: none;
    }
    &-inner {
      display: none;
    }
    &-block {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.4);
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 1;
    }
    &-body {
      background-color: #fff;
      border-radius: 10px;
      flex-direction: column;
      gap: 48px;
      padding: 120px 96px;
      position: relative;
      &-heading {
        font-size: 1.25em;
        text-align: center;
      }
      &-btns {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 32px;
        padding-top: 48px;
      }
      &-btn {
        width: 160px;
        border-radius: 5px;
        font-size: 0.75em;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px 0;
      }
      &-cancel-btn {
        border: 1px solid #A0A0A0;
        color: #5D5B5B;
      }
      &-decision-btn {
        background-color: #3A87FD;
        color: #fff;
      }
      &-delete-cancel-btn {
        border: 1px solid #A0A0A0;
        color: #5D5B5B;
      }
      &-delete-btn {
        background-color: #E10004;
        color: #fff;
      }
    }
  }
  &-completion {
    &-delete-inner {
      display: none;
    }
    &-error-inner {
      display: none;
    }
    &-inner {
      display: none;
    }
    &-block {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.4);
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 1;
    }
    &-body {
      background-color: #fff;
      border-radius: 10px;
      flex-direction: column;
      gap: 48px;
      padding: 120px 96px;
      position: relative;
      &-heading {
        font-size: 1.25em;
        text-align: center;
      }
      &-error-heading {
        color: #E10004;
        font-size: 1.25em;
      }
      &-btn {
        width: 160px;
        border: 1px solid #A0A0A0;
        border-radius: 5px;
        color: #5D5B5B;
        font-size: 0.75em;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px 0;
        margin: 0 auto;
        margin-top: 48px;
      }
    }
  }
}