body {
  color: #272727;
  font-size: 15px;
  font-family: 'Noto Sans JP', sans-serif;
  scrollbar-color: #e6e6e6 #e6e6e6;
}
.main {
  background-color: #F3F5FC;
  padding: 30px;
  width: 84%;
  margin-left: auto;
}
.wrapper {
  max-width: 2000px;
  margin: 0 auto;
  &-inner {
    display: flex;
  }
}
.home-title {
  font-size: 1.4375rem;
  letter-spacing: 1px;
}
.home-subTitle {
  font-size: 1.171875rem;
  letter-spacing: 1px;
  margin-top: 40px;
}
.sidebar-title {
  font-size: 1.25rem;
  font-weight: 500;
  letter-spacing: 0.5px;
}
time {
  color: #A0A0A0;
  font-size: 0.75rem;
  font-weight: 500;
  font-family: "Jost", sans-serif;
}