.header {
  width: 240px;
  background-color: #fff;
  position: fixed;
  height: 100vh;
  &-inner {
    padding: 0 20px;
    padding-top: 30px;
  }
  &-logo {
    width: 80%;
    img {
      width: 100%;
      height: auto;
    }
  }
  &-nav {
    padding-top: 40px;
    &__item {
      font-size: 15px;
      font-weight: 500;
      padding-top: 20px;
      letter-spacing: 1px;
      user-select: none;
      &:first-child {
        padding-top: 0;
      }
      &__company {
        position: relative;
        &::after {
          content: "";
          position: absolute;
          top: 6px;
          right: 95px;
          width: 6px;
          height: 6px;
          border-radius: 50%;
          background-color: #3A87FD;
        }
      }
      &__accordion {
        display: flex;
        align-items: center;
        padding: 8px 12px;
        border-radius: 10px;
        position: relative;
        cursor: pointer;
        &.active {
          background: #F3F6FF;
          color: #3A87FD;
        }
        &::after {
          content:"";
          position: absolute;
          display:block;
          width:8px;
          height:8px;
          border-top: #272727 2px solid;
          border-right: #272727 2px solid;
          -webkit-transform: rotate(135deg);
          -ms-transform: rotate(135deg);
          transform: rotate(135deg);
          position:absolute;
          right: 6%;
          top: 0;
          bottom: 15%;
          margin: auto;
        }
        &.active::after {
          border-top: #3A87FD 2px solid;
          border-right: #3A87FD 2px solid;
          transform: rotate(-45deg);
          bottom: 10%;
          transition: .3s;
        }
        &__first {
          &::after {
            display: none;
          }
        }
        img {
          margin-right: 15px;
        }
        i {
          margin-right: 15px;
          font-size: 1.25rem;
        }
      }
    }
    &__subList {
      display: none;
    }
    &__subList__item {
      margin-top: 30px;
      margin-left: 30px;
    }
    &__help {
      font-size: 0.875rem;
      font-weight: 500;
      position: absolute;
      bottom: 50px;
      left: 100px;
    }
  }
}