.applicant {
  // 応募選考管理_選考一覧ページのcss
  &-list {
    &__title__inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &-content {
      &-register {
        &__inner {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
        &__btn {
          width: 122px;
          border: 1px solid #3A87FD;
          border-radius: 5px;
          color: #3A87FD;
          cursor: pointer;
          font-size: 0.75rem;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 12px 16px;
        }
        &__filter__icon {
          position: relative;
          padding-right: 20px;
          &::after {
            content: "";
            width: 8px;
            height: 8px;
            border-bottom: solid 1.5px #272727;
            border-right: solid 1.5px #272727;
            transform: rotate(45deg);
            position: absolute;
            top: 50%;
            right: 5px;
            transform: translateY(-50%) rotate(45deg);
          }
        }
      }
      &-filter {
        &__inner {
          display: none;
        }
        &__block {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          background-color: rgba(0, 0, 0, 0.4);
          display: flex;
          align-items: center;
          justify-content: center;
          z-index: 1;
        }
        background-color: #fff;
        border-radius: 10px;
        padding: 64px 40px 48px 40px;
        position: relative;
        &__close {
          position: absolute;
          top: 15px;
          right: 15px;
          cursor: pointer;
        }
        &__labels {
          &__selected__options {
            width: 100%;
            border: 1px solid #A0A0A0;
            border-radius: 5px;
            padding: 4px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 4px;
            position: relative;
            padding: 15px;
            &::after {
              content: "";
              width: 10px;
              height: 10px;
              border-bottom: solid 1.5px #A0A0A0;
              border-right: solid 1.5px #A0A0A0;
              transform: rotate(45deg);
              position: absolute;
              top: 50%;
              right: 15px;
              transform: translateY(-50%) rotate(45deg);
            }
            .option {
              background-color: #E6E6E6;
              border: 1px solid #dcdcdc;
              border-radius: 4px;
              padding: 4px 8px;
              display: flex;
              align-items: center;
              gap: 4px;
              color: #5D5B5B;
              font-size: 10px;
              white-space: nowrap;
              .remove {
                color: #999;
                cursor: pointer;

                font-weight: bold;
              }
            }
          }
          select {
            display: none;
          }
        }
        &__btn {
          width: 400px;
          display: flex;
          justify-content: center;
          gap: 32px;
          margin: 0 auto;
          padding-top: 80px;
          &__cancel,
          &__apply {
            width: 160px;
            height: 40px;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          &__cancel {
            border: 1px solid #A0A0A0;
          }
          &__apply {
            background-color: #3A87FD;
            color: #fff;
          }
        }
      }
      &-apply {
        &__inner {
          display: flex;
          align-items: center;
          padding-top: 24px;
        }
        &__heading {
          color: #A0A0A0;
          font-size: 0.75rem;
        }
        &__block {
          max-width: 900px;
          font-size: 0.625rem;
          overflow-x: scroll;
          white-space: nowrap;
          scrollbar-width: none; /* Firefox */
          -ms-overflow-style: none; /* Internet Explorer */
          &::-webkit-scrollbar {
            display: none; /* WebKitベースのブラウザ */
          }
        }
        &__box {
          display: inline-block;
          background-color: #E6E6E6;
          border-radius: 2px;
          padding: 6px 16px;
          margin-left: 8px;
        }
      }
      &-register {
        &__inner {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
        &__filter__icon {
          position: relative;
          padding-right: 20px;
          margin-left: auto;
          &::after {
            content: "";
            width: 8px;
            height: 8px;
            border-bottom: solid 1.5px #272727;
            border-right: solid 1.5px #272727;
            transform: rotate(45deg);
            position: absolute;
            top: 50%;
            right: 5px;
            transform: translateY(-50%) rotate(45deg);
          }
        }
      }
      &-filter {
        &__inner {
          display: none;
        }
        &__block {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          background-color: rgba(0, 0, 0, 0.4);
          display: flex;
          align-items: center;
          justify-content: center;
          z-index: 1;
        }
        background-color: #fff;
        border-radius: 10px;
        padding: 64px 40px 48px 40px;
        position: relative;
        &__close {
          position: absolute;
          top: 15px;
          right: 15px;
          cursor: pointer;
        }
        &__create,
        &__gender,
        &__phase,
        &__type,
        &__labels {
          display: flex;
          align-items: center;
          padding-top: 24px;
          &__label {
            width: 120px;
            font-size: 0.75rem;
          }
          &__input {
            width: 100%;
            font-size: 0.75rem;
            input {
              appearance: auto;
              pointer-events: auto;
            }
          }
        }
        &__create {
          &__input {
            display: flex;
            justify-content: space-between;
            align-items: center;
            input {
              width: 200px;
              padding: 15px;
              border: 1px solid #A0A0A0;
              border-radius: 5px;
            }
            span {
              display: block;
              margin: 0 15px;
            }
          }
        }
        &__gender,
        &__type {
          &__input {
            width: 100%;
            display: flex;
            &__radio {
              display: flex;
              align-items: center;
              margin-left: 24px;
              &:first-child {
                margin-left: 0;
              }
              input {
                width: 15px;
                height: 15px;
                border: 1px solid #A0A0A0;
                border-radius: 50%;
              }
              span {
                display: block;
                margin-left: 10px;
              }
            }
          }
        }
        &__labels {
          &__selected__options {
            width: 100%;
            border: 1px solid #A0A0A0;
            border-radius: 5px;
            padding: 4px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 4px;
            position: relative;
            padding: 15px;
            &::after {
              content: "";
              width: 10px;
              height: 10px;
              border-bottom: solid 1.5px #A0A0A0;
              border-right: solid 1.5px #A0A0A0;
              transform: rotate(45deg);
              position: absolute;
              top: 50%;
              right: 15px;
              transform: translateY(-50%) rotate(45deg);
            }
            .option {
              background-color: #E6E6E6;
              border: 1px solid #dcdcdc;
              border-radius: 4px;
              padding: 4px 8px;
              display: flex;
              align-items: center;
              gap: 4px;
              color: #5D5B5B;
              font-size: 10px;
              white-space: nowrap;
              .remove {
                color: #999;
                cursor: pointer;

                font-weight: bold;
              }
            }
          }
          select {
            display: none;
          }
        }
        &__btn {
          width: 400px;
          display: flex;
          justify-content: center;
          gap: 32px;
          margin: 0 auto;
          padding-top: 80px;
          &__cancel,
          &__apply {
            width: 160px;
            height: 40px;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          &__cancel {
            border: 1px solid #A0A0A0;
          }
          &__apply {
            background-color: #3A87FD;
            color: #fff;
          }
        }
      }
      &-apply {
        &__inner {
          display: flex;
          align-items: center;
          padding-top: 24px;
        }
        &__heading {
          color: #A0A0A0;
          font-size: 0.75rem;
        }
        &__block {
          max-width: 900px;
          font-size: 0.625rem;
          overflow-x: scroll;
          white-space: nowrap;
          scrollbar-width: none; /* Firefox */
          -ms-overflow-style: none; /* Internet Explorer */
          &::-webkit-scrollbar {
            display: none; /* WebKitベースのブラウザ */
          }
        }
        &__box {
          display: inline-block;
          background-color: #E6E6E6;
          border-radius: 9999px;
          padding: 6px 16px;
          margin-left: 8px;
        }
      }
      &-table {
        width: 100%;
        &__inner {
          overflow-y: scroll;
          height: 680px;
          margin-top: 24px;
        }
        &__thead {
          position: sticky;
          top: 0;
          &.onFilter {
            position: static;
          }
        }
        &__tr {
          border-radius: 0 10px 0 0;
        }
        &__th {
          background-color: #3A87FD;
          border-right: 0.5px solid #A0A0A0;
          color: #fff;
          font-size: 0.75rem;
          font-weight: 500;
          padding-left: 15px;
          vertical-align: middle;
          height: 35px;
          &:first-child {
            border-radius: 10px 0 0 0;
            width: 280px;
          }
          &:nth-child(2) {
            width: 160px;
          }
          &:nth-child(3) {
            width: 220px;
          }
          &:nth-child(4) {
            width: 100px;
          }
          &:last-child {
            border-radius: 0 10px 0 0;
            border-right: 0;
          }
        }
        &__td {
          border: 0.5px solid #A0A0A0;
          color: #272727;
          font-size: 0.75rem;
          vertical-align: middle;
          padding: 16px;
          a {
            color: #3A87FD;
          }
          &__btn {
            display: flex;
            align-items: center;
            gap: 8px;
            button {
              border-radius: 5px;
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: 0.625rem;
              padding: 8px 24px;
            }
            &__approval {
              background-color: #3A87FD;
              color: #fff;
            }
            &__delete {
              border: 1px solid #A0A0A0;
            }
          }
        }
      }
      &-pageList {
        padding: 0 10px;
        &:first-child {
          padding-right: 20px;
          padding-left: 0;
        }
        &:last-child {
          padding-left: 20px;
        }
        &__inner {
          display: flex;
          align-items: center;
          padding-top: 24px;
        }
        &__link {
          color: #A5A5A5;
          font-family: "Jost", sans-serif;
        }
        &__prev__link,
        &__next__link {
          font-size: 0.75rem;
        }
      }
    }
  }
  // 応募選考管理_応募選考管理ページのcss
  &-management {
    &__title {
      &__flex {
        display: flex;
        align-items: center;
        gap: 32px;
        span {
          background-color: #FFAB01;
          border-radius: 25px;
          color: #fff;
          padding: 6px 22px;
          display: flex;
          font-size: 0.625em;
          align-items: center;
          justify-content: center;
        }
      }
    }
    &__content {
      border: 1px solid #A0A0A0;
      border-radius: 5px;
      padding: 24px;
      &__inner {
        display: flex;
        gap: 16px;
        padding-top: 48px;
      }
      &__basicInfo {
        &__title {
          &__inner {
            border-bottom: 1px solid #A0A0A0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-bottom: 24px;
          }
          &__flex {
            display: flex;
            align-items: center;
            gap: 24px;
            span {
              span {
                color: #272727;
              }
            }
          }
        }
        &__list__inner {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
        }
        &__item {
          width: 47%;
          border-bottom: 1px solid #A0A0A0;
          display: flex;
          align-items: center;
          padding: 32px 0 24px 0;
          &__label {
            width: 160px;
            color: #A0A0A0;
            font-size: 0.75em;
          }
        }
      }
      &__memo {
        &__inner {
          padding-top: 48px;
        }
        &__title__inner {
          border-bottom: 1px solid #A0A0A0;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding-bottom: 24px;
        }
        &__area {
          letter-spacing: 0.5px;
          line-height: 27.75px;
          padding-top: 32px;
        }
        &__btn {
          width: 160px;
          border: 1px solid #A0A0A0;
          border-radius: 5px;
          font-size: 0.75em;
          padding: 15px 0;
          margin: 0 auto;
          margin-top: 48px;
          margin-bottom: 60px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      &__sidebar {
        border: 1px solid #A0A0A0;
        border-radius: 5px;
        &__title__inner {
          border-bottom: 1px solid #A0A0A0;
          padding: 24px 0;
          margin: 0 24px;
        }
        &__msg {
          &__box {
            padding: 24px;
            padding-top: 32px;
            &__unitas {
              background-color: #F7F7F5;
            }
            &__name {
              display: flex;
              align-items: center;
              gap: 16px;
              &__unitas {
                flex-direction: row-reverse;
                justify-content: space-between;
              }
            }
            &__name {
              span {
                &:last-child {
                  color: #A0A0A0;
                  font-size: 0.75em;
                  font-family: 'Jost', sans-serif;
                  margin-left: 16px;
                }
              }
            }
            &__show {
              padding-top: 16px;
              width: 86%;
              margin-left: auto;
              &__unitas {
                margin-left: 0;
              }
              p {
                letter-spacing: 0.5px;
                line-height: 27.75px;
              }
              &__icon {
                padding-top: 12px;
                img {
                  width: 12px;
                }
              }
            }
            &__textarea {
              border: 1px solid #A0A0A0;
              border-right: 0;
              border-left: 0;
              border-radius: 5px;
              margin-top: 32px;
              height: 120px;
              padding: 15px;
              textarea {
                width: 100%;
                height: 70px;
              }
              &__icons {
                width: 50px;
                display: flex;
                align-items: center;
                gap: 16px;
                margin-left: auto;
              }
              &__icon {
                img {
                  width: 14px;
                  height: auto;
                }
              }
            }
          }
        }
      }
    }
  }
}